{% extends 'base.html' %}

{% block meta %}
<title>Create New Task</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<style>
  head, body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
  }

  body {
    align-items: center;
    background: linear-gradient(rgb(178, 233, 255), rgb(89, 131, 230));
    background-size: 100% 100%;
    background-attachment: fixed;
  }
</style>
{% endblock meta %}

{% block content %}
<div class="create w-100 m-auto text-center">
  <nav class="navbar navbar-dark bg-dark mb-5">
    <div class="container-fluid">
        <h1 class="navbar-brand fw-bold mb-2 mt-2 text-light">Welcome, {{user.get_username}}!</h1>
        <button class="btn btn-primary btn-md fw-bold" type="button" onclick="location.href='/todolist/logout'">Logout</button>
    </div>
  </nav>
  <div class="create-task w-100 m-auto text-center" style="max-width: 750px">
    <h1 class="h1 mb-3 text-primary fw-bold">Create Task</h1>
    <form method="POST" style="text-align:start">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input class="btn btn-lg btn-primary w-100 mt-4 fw-bold" type="submit" value="Create"/></input>
    </form>
    {% if messages %}
    {% for message in messages %}
        <p class="text-light">{{ message }}</p>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}