{% extends 'base.html' %}

{% block meta %}
<title>Create TODO list</title>
{% endblock meta %}

{% block content %}

<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<style>
body{
    font-family: 'Montserrat', sans-serif;
}
</style>
</head>
<body>

<div class="login">

  <h1>Create your TODO list here</h1>

  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Create" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul class="msg">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

</div>

{% endblock content %}