{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<style>
  head, body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
  }

  body {
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(178, 233, 255), rgb(89, 131, 230));
    background-size: 100% 100%;
    background-attachment: fixed;
  }
</style>
{% endblock meta %}

{% block content %}
<div class="container register w-100 m-auto" style="max-width: 750px">
  <h1 class="mb-4 fw-bold text-primary text-center">Register</h1>
  <form method="POST">
    {% csrf_token %}
    <table>  
      {{ form.as_table }}  
    </table>  
    <input class="btn btn-lg btn-primary w-100 mt-4 fw-bold" type="submit" value="Register"/></input>
    {% if messages %}
      {% for message in messages %}
          <p class="text-light">{{ message }}</p>
      {% endfor %}
    {% endif %}
  </form>
{% endblock content %}