{% extends 'base.html' %}

{% block meta %}
<title>Your TODO</title>
{% endblock meta %}

{% block content %}
<h1>Hello! {{ user.get_username }} ˚ ༘♡ ⋆｡˚  (⊃｡•́‿•̀｡)⊃🪄☆ﾟ.*･｡ﾟ</h1>
<h3>This is your TODO list</h3>

<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<style>
table, th {
  border:1px solid black;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.button {
  background-color: #e8a5b0;
  border: none;
  color: black;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid black;
}
</style>
</head>
<body>
    

<table style="width:100%">
    <tr>
    <th style="background-color: #697eb7">Date</th>
    <th style="background-color: #697eb7">Title</th>
    <th style="background-color: #697eb7">Description</th>
    <th style="background-color: #697eb7">Progress</th>
    <th style="background-color: #697eb7">Change Progress</th>
    <th style="background-color: #697eb7">Delete Task</th>
    </tr>
    {% for task in task %}
    <tr>
        <td>{{ task.date }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        {% if task.is_finished %}
        <td>Finished</td>
        {% else %}
        <td>Not Finished</td>
        {% endif %}
        <td style="text-align: center"><a href="{% url 'todolist:status' task.id %}" class="button" style="padding: 7px 15px;">Change Progress</a></button></td>
        <td style="text-align: center"><a href="{% url 'todolist:delete' task.id %}" class="button"style="padding: 7px 15px;">❌</a></button></td>
    </tr>
    {% endfor %}
</table>

<h3>Good luck and fighting!</h3>

<a href="{% url 'todolist:create_todolist' %}" class="button">Create New TODO List</a>
<a href="{% url 'todolist:logout' %}" class="button">Logout</a>


{% endblock content %}