{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 3 PBP</h1>

  <h4>Name: </h4>
  <p>{{nama}}</p>

  <h4>Student ID: </h4>
  <p>{{id}}</p>

  <h4>Status: </h4>
  <p>{{text}}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for barang in list_barang %}
      <tr>
        <th>{{barang.watched}}</th>
        <th>{{barang.title}}</th>
        <th>{{barang.rating}}</th>
        <th>{{barang.release_date}}</th>
        <th>{{barang.review}}</th>
      </tr>
    {% endfor %}
  </table>

 {% endblock content %}